[Unit]
Description=Monitor hotplug handler
After=graphical-session.target

[Service]
ExecStart=%h/Projects/dotfiles/systemd/user/monitor-hotplug-daemon.sh
Restart=always
RestartSec=1

[Install]
WantedBy=default.target